.footer{
    display: flex;
    flex-direction: column;
    background-color: pink;
    color: rgb(0, 0, 0);
    align-items: center;
    border-top: 10px, black;
    border-color: black;
    border-radius: 5px;
    margin-top: 20px;
    

}

